# Introduction to Python

Let's execute our first Python command. Click on the bottom section and click on "Run" button on the top

# Numbers
The interpreter acts as a simple calculator: you can type an expression at it and it will write the value.

In [5]:
2+8

10

Did you see 10 as a result? Congrats! You just executed your first Python program! Let's try 
- 5-5
- 2*2
- 12/3
- 7 * 3.75 - 2

In [33]:
5-5

0

# Errors
A Python program can throw errors awhen a certain statement is not in accordance with the prescribed usage. If you try to program something is not possible, Python will give an error. For example execute the code below;

0/9

In [13]:
9/0

ZeroDivisionError: division by zero

# Strings

Strings are enclosed between single quotes('...') or double quotes("..")

Fill and execute the command below

"My name is name<>"

In [6]:
"My name is name<>"

'My name is name<>'

In [7]:
'My name is name<>'

'My name is name<>'

# Variables

Variables are the python features that helps you to save values that you can it later. It is used with the "=" equal sign.

For examaple:

name = "Bella"

In [9]:
name = "Bella"
name

'Bella'

# Print

The print() is a function which prints the stated message to the screen, or other standard output device. The message can be a string, or any other object.

In [19]:
print(name)

Bella

In [20]:
text = "My name is " + name
print(text)

My name is Bella

In [22]:
introduction = "Hi, " + text
print(introduction)

Hi, My name is Bella

Multiplying strings with a number is also possible

In [23]:
colour = "pink"
print(colour * 5)

pinkpinkpinkpinkpink

In [34]:
print(type(colour))

<class 'str'>

In [35]:
print(type(5))

<class 'int'>

In [36]:
print(type(5.1))

<class 'float'>

# List

We can also store multiple items in a single variable and used with square brackets "[" "]"

In [27]:
vegetables = ["lettuce", "eggplant", "broccoli"]
print(vegetables)

['lettuce', 'eggplant', 'broccoli']

List items are allowed to have duplicate values and the items are ordered. If a new item

In [29]:
vegetables = ["lettuce", "eggplant", "broccoli"]
vegetables.append("cucumber")
print(vegetables)

['lettuce', 'eggplant', 'broccoli', 'cucumber']

We can also insert an item as the first position

In [31]:
vegetables = ["lettuce", "eggplant", "broccoli"]
vegetables.insert(0,"pepper")
print(vegetables)

['pepper', 'lettuce', 'eggplant', 'broccoli']

Or the second position

In [32]:
vegetables = ["lettuce", "eggplant", "broccoli"]
vegetables.insert(1,"carrot")
print(vegetables)

['lettuce', 'carrot', 'eggplant', 'broccoli']