# Introduction to Python

Python is one of the world’s most used and most popular programming languages. It’s powerful, versatile, and easy to learn. Python is widely used in various applications, some notable ones:

- Web development
- Data Science
- Data analysis
- Machine learning
- Artificial Intelligence (AI)
- Scripting and tooling

Many people say that **Python comes with batteries included.** It’s a fun way to state that it includes a comprehensive base library. In addition, because so many people use Python, hundreds of thousands of high-quality libraries and frameworks exist to get things done quickly and without hassle. You can do a lot with a little bit of Python code!

Learning Python is a no-brainer, and we promise you will be up and running quickly with this Python tutorial. Regardless of your future in IT, it will be a helpful tool to have in your toolbox!

For a complete list of references on Python for beginners, [check out the wiki of Python!](https://wiki.python.org/moin/BeginnersGuide/NonProgrammers)

# Interpreter

A python interpreter is a computer program that converts each high-level program statement into machine code.
An interpreter translates the command that you write out into code that the computer can understand.

However, to better understand this definition, we must explain what high-level and low-level languages are.

Computer programmers write in high-level programming languages. High-level languages are written closer to human language and allow programmers to focus on the command being written. Python is the most famous example of a high-level language.

However, while high-level languages are relatively easy to understand by humans, the same cannot be said for machines. Machines only understand machine code or machine language, a language represented by strings of bits — 1s and 0s.

As you can imagine, writing and reading a program as strings of 1s and 0s is extremely hard for human programmers. Imagine trying to memorize instructions as 1s and 0s!

So how do we bridge the gap between what a human programmer writes and what the machine understands and thus executes? By using an interpreter.

When using a Python interpreter, the programmer types in the command, the interpreter reads the command, evaluates it, prints the results, and then goes back to read the command.

# Numbers


The interpreter acts as a simple calculator: you can type an expression at it and it will write the value. 

Let's execute our first Python command. Click on the bottom section and click on "Run" button on the top

In [1]:
2+8

10

Did you see 10 as a result? Congrats! You just executed your first Python program! Let's try 
- 5-5
- 2*2
- 12/3
- 7 * 3.75 - 2

In [33]:
5-5

0

# Errors
A Python program can throw errors when a certain statement is not in accordance with the prescribed usage. If you try to program something is not possible, Python will give an error. For example execute the code below;

In [1]:
9/0

ZeroDivisionError: division by zero

In [1]:
8 + strawberry *3

NameError: name 'strawberry' is not defined

In [2]:
'cookie' + 7

TypeError: can only concatenate str (not "int") to str

You can see that Python already gives some kind of 'hint' why these commands throw an error.

Not all hints are easy to read and they will require some knowledge on the types of erros there are and the naming conventions within Python.

When in doubt, use Google!

# Strings

Strings are enclosed between single quotes('...') or double quotes("..")

Fill and execute the command below

"My name is name<>"

In [6]:
"My name is name<>"

'My name is name<>'

In [7]:
'My name is name<>'

'My name is name<>'

In [5]:
"kiwi"

'kiwi'

In [4]:
'banana'

'banana'

In [6]:
len('banana')

6

# Variables

Variables are the python features that helps you to save values that you can it later. It is used with the "=" equal sign.

For examaple:

name = "Bella"

In [9]:
name = "Bella"
name

'Bella'

In [9]:
city = "Amsterdam"
city

'Amsterdam'

In [10]:
year = 5
year

5

# Print

The print() is a function which prints the stated message to the screen. The message can be a string, or any other object.

Whereas we have executed the cells above and they have printed their results. When you run your program in a **terminal**, executing your program will only print output if specified directly.

A console (or ‘terminal’, or ‘command prompt’) is a textual way to interact with your OS, just as the ‘desktop’, in conjunction with your mouse, is the graphical way to interact your system.

Below we will show how to print output to a terminal!

In [19]:
print(name)

Bella

In [20]:
text = "My name is " + name
print(text)

My name is Bella

In [22]:
introduction = "Hi, " + text
print(introduction)

Hi, My name is Bella

In [13]:
life = "I live in " + city + " for " + str(year) + " years."
print(life)

I live in Amsterdam for 5 years.

Multiplying strings with a number is also possible

In [23]:
# Guess the output

colour = "pink"
print(colour * 5)

pinkpinkpinkpinkpink

In [34]:
# What is the type?

print(type(colour))

<class 'str'>

In [35]:
# What is the type?

print(type(5))

<class 'int'>

In [2]:
# Do you think SOMETHING_PYTHON overwrites the value?
something_python='red'
SOMETHING_PYTHON='BLUE'
print(something_python)
print(SOMETHING_PYTHON)

red
BLUE

# List

We can also store multiple items in a single variable and used with square brackets "[" "]"

In [27]:
vegetables = ["lettuce", "eggplant", "broccoli"]
print(vegetables)

['lettuce', 'eggplant', 'broccoli']

List items are allowed to have duplicate values and the items are ordered. If a new item

In [29]:
vegetables = ["lettuce", "eggplant", "broccoli"]
vegetables.append("cucumber")
print(vegetables)

['lettuce', 'eggplant', 'broccoli', 'cucumber']

We can also insert an item as the first position

**Important to note** is that lists are "zero-indexed", meaning that we start counting from index number 0.

If we want to get or add something to the first position, this is thus filled at list[0], whereas the second element is stored at list[1] etc.

In [31]:
vegetables = ["lettuce", "eggplant", "broccoli"]
vegetables.insert(0,"pepper")
print(vegetables)

['pepper', 'lettuce', 'eggplant', 'broccoli']

Or the second position

In [32]:
vegetables = ["lettuce", "eggplant", "broccoli"]
vegetables.insert(1,"carrot")
print(vegetables)

['lettuce', 'carrot', 'eggplant', 'broccoli']

In [33]:
# there can be duplicates as well

fruits = ["apricot", "strawberry", "melon"]
fruits.append("peach")
fruits.append("peach")
print(fruits)

['apricot', 'strawberry', 'melon', 'peach', 'peach']

In [16]:
# how long is my list
print(len(fruits))

5

In [3]:
# data types in the list

personal = ["Bella", 5, True, "Amsterdam"]
print(personal)

['Bella', 5, True, 'Amsterdam']

In [4]:
# what is the type?

print(type(personal))

<class 'list'>

In [5]:
# access to an item in the list
print(personal[3])

Amsterdam

In [6]:
# range of indexes

print(personal[2:4])

[True, 'Amsterdam']

In [7]:
# what is the result?
print(personal[4])

IndexError: list index out of range

Why is this the case? Think about the "zero-indexing"

In [8]:
# Get the last item from the list

print(personal[-1])

Amsterdam

In [9]:
# Get the second last item from the list

print(personal[-2])

True

In [10]:
# Get the first two item from the list

print(personal[:2])

['Bella', 5]

In [11]:
# Get the last two item from the list

print(personal[2:])

[True, 'Amsterdam']

In [12]:
# Get the last 3rd item but don't get the last item

print(personal[-3:-1])

[5, True]

Yay!! You have contributed the first module! You know the basics of Python programming now! Wohoo!